---
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Analytics from "@vercel/analytics/astro";

const { config } = Astro.props;

const {
  title,
  description,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage,
  canonicalURL,
} = config;
---

<!doctype html>
<html lang={lang} class="scroll-smooth scroll-pt-16">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-sans bg-black">
    <Header siteLogo={siteLogo} navLinks={navLinks} title={title} />
    <main class="max-w-6xl px-5 mx-auto">
      <slot />
    </main>
    <Analytics />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.js"></script>

    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        AOS.init({
          offset: 120,
          duration: 400,
          once: false,
        });
      });
    </script>
    <Footer author={author} socialLinks={socialLinks} />
  </body>
</html>
